

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
     padding-top: 50px;
     padding-bottom: 40px;
}
h1 {
	position: relative;

	color: white;
}















